@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    --status-bg: #7289da;
    --status-color: #fff;
}

body {
    background-color: #23283d;
    font-family: "Inter", sans-serif;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.popout {
    width: 300px;
    box-shadow: 0 0 10px 0 #101320d2;
    background-color: #101320;
    border-radius: 8px;
    overflow: hidden;
    max-height: calc(100vh - 20px);
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    background-image: url("https://dcdn.dstn.to/banners/303173495918034945");

    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    position: relative;
    transition: background-color 0.1s;
}

.profile {
    top: 76px;
    left: 16px;
    border-radius: 5px;
    overflow: hidden;
    text-indent: -9999px;
    display: block;
    object-fit: cover;
    pointer-events: none;
    width: 80px;
    height: 80px;
    position: absolute;
}

.profile img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-area: 1/1;
}

.header {
    display: block;
    flex-shrink: 0;
    padding: 54px 16px 16px 16px;
    overflow: hidden;
    position: relative;
}

.badges {
    position: absolute;
    top: 16px;
    right: 16px;
    max-width: 180px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-right: -2px;
    margin-bottom: -2px;
}

.connections {
    max-width: 180px;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-bottom: -2px;
}

.badge {
    margin: 0 2px 2px 0;
    width: 22px;
    height: 22px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    object-fit: cover;
}

.connections .badge {
    margin: 0 2px 2px 0;
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    overflow: hidden;
    pointer-events: all;
    cursor: pointer;
    object-fit: cover;
}

.tooltip {
    opacity: 1;
    transform: none;
    background-color: #101320;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.24);
    color: #dcddde;
    border-radius: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    max-width: 220px;
    box-sizing: border-box;
    word-wrap: break-word;
    z-index: 1002;
    transition: opacity 0.1s, transform 0.1s;
    will-change: opacity, transform;
    pointer-events: none;
}

.tooltip .arrow {
    left: calc(50% + 0px);
    border-top-color: #101320 !important;
    position: absolute;
    top: 100%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}

.tooltip .text {
    padding: 8px 12px;
    overflow: hidden;
}

.tooltip.fade-out {
    opacity: 0;
    transform: scale(0.95);
}

.username {
    color: #fff;
    font-weight: 600;
    vertical-align: top;
    font-size: 20px;
}

.discriminator {
    color: #b9bbbe;
    font-weight: 600;
    vertical-align: top;
    font-size: 20px;
}

.about {
    padding: 0 16px 16px 16px;
    margin: 0;
}

.about .title {
    color: #b9bbbe;
    display: flex;
    font-weight: 700;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.2px;
}

.about .text {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #dcddde;
}

.about .text a {
    color: rgb(0, 170, 252);
    text-decoration: none;
}

.about .text a:hover {
    text-decoration: underline;
}

.header .pronouns {
    color: #b9bbbe;
    display: flex;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.2px;
}

@keyframes animate2 {
    0% {
        -webkit-mask-position-x: 268px;
    }

    100% {
        -webkit-mask-position-x: 0;
    }
}

.user-status {
    margin-top: 15px;
    background-color: var(--status-bg);
}

.user-status .title {
    color: #fff;
    display: flex;
    font-weight: 800;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.2px;
    margin-left: 12px;
    position: relative;
    top: 15px;
    user-select: none;
    padding-bottom: 12px;
}

.user-status img {
    width: 100%;
}

.user-status::before {
    content: "";
    position: absolute;
    height: 21px;
    width: 100%;
    left: 0;
    margin-top: -20px;
    background-color: #1e2233;
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    animation: animate2 6s linear infinite;
    animation-delay: 0s;
    opacity: 1;
}

.user-status .bef {
    position: absolute;
    height: 21px;
    width: 100%;
    left: 0;
    margin-top: -19px;
    background-color: var(--status-bg);
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
    animation: animate 6s linear infinite;
    animation-delay: 0s;
    opacity: 1;
}

.status {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 140px;
    left: 80px;
}

.status-rect {
    rx: 4px;
    stroke: #101320;
    stroke-width: 4px;
    fill: var(--status-color);
}

.user-status .content .img {
    position: relative;
    align-self: flex-start;
    display: block;
    margin-left: 12px;
    width: 60px;
    height: 60px;
}

.user-status .content .img.small {
    width: 40px;
    height: 40px;
}

.user-status .content .img .main {
    width: 60px;
    height: 60px;
    border: solid 0.5pxx #222;
}

.user-status .content .img .main.round {
    border-radius: 10px;
}

.user-status .content .img .main.small {
    width: 40px;
    height: 40px;
}

.user-status .content .img .main.mask {
    -webkit-mask: url("assets/masks/large_image_mask.svg");
    mask: url("assets/masks/large_image_mask.svg");
}

.user-status .content .img .sub {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    bottom: -4px;
    right: -4px;
}

.user-status .content {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding-bottom: 8px;
}

.user-status .content .text {
    margin-left: 10px;
}

.user-status .content .text .activitytitle {
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-status .content .text div {
    display: block;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-status .spotify {
    margin-top: 12px;
    margin-left: 12px;
    display: block;
    width: 92%;
}

.user-status .spotify .bar {
    height: 4px;
    background-color: rgba(79, 84, 92, 0.16);
    min-width: 4px;
    border-radius: 2px;
    margin-bottom: 4px;
}

.user-status .spotify .bar .inner {
    width: 50%;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
}

.user-status .spotify .text {
    margin: 0;
    display: flex;
    align-items: baseline;
    flex-direction: row;
    flex: 1 1 auto;
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 11px;
}

.user-status .spotify .text .start {
    flex: 1 1 auto;
    font-size: inherit;
}

.user-status .spotify .text .end {
    flex: 0 1 auto;
    font-size: inherit;
}

.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 13px;
}

.credits a {
    color: hsla(228, 27%, 40%);
    text-decoration: none;
}

@keyframes animate {
    0% {
        -webkit-mask-position-x: 268px;
    }

    100% {
        -webkit-mask-position-x: 0;
    }
}

@keyframes animate2 {
    0% {
        -webkit-mask-position-x: 0;
    }

    100% {
        -webkit-mask-position-x: 268px;
    }
}
